@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {font-family: heavitas; src: url(./Heavitas.ttf);}
@font-face {font-family: reglise; src: url(./Reglisse_Fill.otf);}
@font-face {font-family: boston; src: url(./BOSTON\ CAPS.ttf);}
@font-face {font-family: inlander; src: url(./Inlanders\ Demo.otf);}
* {
    box-sizing: border-box;
    /* font-family: 'Poppins'; */
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    background: rgba(251,144,98);
    width: 100%;
    height: 100vh;
    overflow: hidden;

}

#calculadoras {
    display: flex;
    flex-wrap: wrap;
 justify-content: center;
 /* background: rgb(238,93,108); */
    transition: 0.4s;
    color: white;
    /* margin-top: 90px; */
    height: calc(100vh - 120px);
    /* background-color: red; */
    overflow-y: scroll;
    border-bottom: 1px solid black;
    box-shadow: 0px 8px 5px rgba(0, 0, 0, 0.6);
    /* overflow: hidden; */
}

.deco {
    position: absolute;
    color: rgba(255, 255, 255, 0.3);
   


}

#frm1, #frm2, #frm3, #frm4, #frm5, #frm6, #frm7, #frm8, #frm9, #frm10 {
    background-color: rgba(255, 174, 154, 0.759);
    border: 1px solid white;
    color: white;
    display: none;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
    /* font-family: 'inlander'; */
    flex-direction: column;
    width: 350px;
    justify-content: center;
    align-items: center;
    padding: 4px;
    margin: 4px;
    border-radius: 8px;
    text-align: center;
    transition: 0.4s;
    scale: 0.1;
    opacity: 0;
    /* color: black; */
    box-shadow: 2px 2px 5px black;
    
}
#frm1 h2, #frm2 h2, #frm3 h2, #frm4 h2, #frm5 h2, #frm6 h2, #frm7 h2, #frm8 h2, #frm9 h2, #frm10 h2 {
    font-family: 'inlander';
    padding: 20px 0px;
    font-size: 32px;
    
}
#frm1 p, #frm2 p, #frm3 p, #frm4 p, #frm5 p, #frm6 p, #frm7 p, #frm8 p, #frm9 p, #frm10 p {
    font-family: 'Poppins';
}

#frm1 input, #frm2 input, #frm3 input, #frm4 input, #frm5 input, #frm6 input, #frm7 input, #frm8 input, #frm9 input, #frm10 input {
    border: 1px solid grey;
    transition: 0.4s;
    
}

#frm1:hover, #frm2:hover, #frm3:hover, #frm4:hover, #frm5:hover, #frm6:hover, #frm7:hover, #frm8:hover, #frm9:hover, #frm10:hover {
    background-color: rgba(61, 61, 61, 0.4);
}

#frm1:hover input, #frm2:hover input, #frm3:hover input, #frm4:hover input, #frm5:hover input, #frm6:hover input, #frm7:hover input, #frm8:hover input, #frm9:hover input, #frm10:hover input {
    border: 1px solid rgba(255, 255, 255, 0.4);
}

#div-lista {
    display: flex;
    font-size: 20px;
    user-select: none;
    width: 100%;  
    height: 110px;
    /* background-color: rgb(255, 255, 255);  */
    /* justify-content: space-around;    */
    position: fixed;
    z-index: 10;
    overflow-x: scroll;
    left: 0;
    bottom: 0;
    right: 0;
}

#div-lista ul {
    display: flex;
    width: 100%;
    /* justify-content: center; */
    /* background-color: rgba(154, 154, 154, 0.377); */
    /* padding: 4px; */
}

#div-lista li:hover {
    background-color: rgb(160, 160, 160);
}

#div-lista li {
    transition: 0.5s;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.8);
    background: rgba(255, 255, 255, 0.481);
    color: white;
    display: flex;
    align-items:center;
    padding: 4px;
    list-style: none;
    border: 1px solid rgb(220, 220, 220);
    text-align: center;
    justify-content: space-around;
    /* font-weight: 700; */
    font-size: 20px;
    border-radius: 8px;
    margin:2px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    /* width: 400px; */
}

#div-lista li p {
    width: 200px;
    font-size: 24px;
    font-family: 'inlander';
}
input[type=button] {
    margin-top: 8px;
    border: none;
    padding: 8px;
}

.cresultado {
    margin-top: 8px;
    border: 1px solid grey;
    border-radius: 4px;
    background-color: rgba(240, 240, 240, 0.4);
    height: 40px;
    width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type=number] {
    border: none;
    background-color: rgba(108, 108, 108, 0.3);
    border-radius: 2px;
    color: white;
    text-align: center;
}


#cp-info, #cc-info{
    display: none;
    background-color: rgba(163, 163, 163, 0.845);
    position: absolute;
    padding: 12px;
    color: rgb(255, 255, 255);
    border-radius: 0px 4px 4px 4px;
    width: 200px;
    border: 1px solid rgba(255, 255, 255, 0.484);
    font-family: 'Poppins';
    font-weight: bolder;
    text-shadow: 1px 1px 1px black;
    justify-content: center;
    user-select: none;
}

#lec-info {
    display: none;

    position: absolute;
    padding: 12px;
    color: rgb(255, 255, 255);
    width: 200px;

    font-family: 'Poppins';
    font-weight: bolder;
    text-shadow: 1px 1px 1px black;
    justify-content: center;
}

#lec-info img {
    width: 240px;
    border-radius: 4px;
    border: 1px solid black;
}


#pformula {
    font-size: 12px;
    font-style: italic;
    font-weight: 200;
}

#btn-calcular {
    border: none;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px rgba(161, 161, 161, 0.445);
    border-radius: 8px;
    padding: 12px 0px;
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.493);
    margin: 32px 0px;
    width: 150px;
    transition: 0.4s;
    font-weight: bolder;
}
#btn-calcular:hover {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgb(107, 107, 107);
    color: rgb(122, 122, 122);
}


@media only screen and (max-width: 1000px) {
    #div-lista li {
        margin: 0px 4px;
        padding: 0px 4px;
        font-size: 28px;
        font-weight: 400;
        
    }
    #frm1, #frm2, #frm3, #frm4, #frm5, #frm6, #frm7, #frm8, #frm9, #frm10 {
        width: 100%;
    }
    #calculadoras {
        height: calc(100vh - 120px);
    }
}





form i {
    transition: 0.4s;
}
form i:hover {
    color: rgb(68, 68, 68);
    scale: 1.5;
}




